<header>
  <nav>
    <a href="/">Biblioteca Virtual</a>
    <ul>
      <li><a href="/authors">Autores</a></li>
      <li><a href="/authors/new">Agregar Autor</a></li>
      <li><a href="/books">libros</a></li>
      <li><a href="/books/new">Agregar Libro</a></li>
      </ul>
    </nav>
  </header>
