<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Biblioteca Virtual</title>
  </head>
  <body>
 <!--ANTES-->
 <%- include('../partials/header.ejs') %>
 <%- include('../partials/errorMessage.ejs') %>
 <%- body %>
  <!--DESPUES-->
  </body>
</html>
